<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>


<!-- 	<env-entry> -->
<!-- 	    <description>The name was explicitly set in the annotation so the classname prefix isn't required</description> -->
<!-- 		<env-entry-name>RESOURCE1</env-entry-name> -->
<!-- 		<env-entry-type>java.lang.String</env-entry-type> -->
<!-- 		<env-entry-value>AAA</env-entry-value> -->
<!-- 	</env-entry> -->
  
  
  <servlet>
    <servlet-name>myServlet</servlet-name>
    <servlet-class>br.com.webdeveloper.servlets.MyServlet</servlet-class>
<!--     <jsp-file>/teste.jsp</jsp-file> -->
    
    <init-param>
      <param-name>email</param-name>
      <param-value>likewecare@servlet.com.br</param-value>
    </init-param>
  </servlet>
  
  <filter>
    <filter-name>mydilter</filter-name>
    <filter-class>br.com.webdeveloper.filters.MyFilter</filter-class>
    <init-param>
      <param-name>opocional</param-name>
      <param-value>opcional</param-value>
    </init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>mydilter</filter-name>
    <servlet-name>myServlet</servlet-name>
    <url-pattern>/root/*</url-pattern>
  </filter-mapping>
  
  <context-param>
    <param-name>email</param-name>
    <param-value>likewecare@servlet.com.br</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>pas</param-name>
    <param-value>123456789</param-value>
  </context-param>
  
  
<!--   <servlet> -->
<!--     <servlet-name>myServlet</servlet-name> -->
<!--     <servlet-class>br.com.webdeveloper.servlets.MyServlet</servlet-class> -->
<!--     <load-on-startup>2</load-on-startup> -->
<!--    </servlet> -->
    
  <servlet-mapping>
    <servlet-name>myServlet</servlet-name>
    <url-pattern>/app/bar/*</url-pattern>
  </servlet-mapping>
  
  
<!--   <ejb-ref> -->
<!--     <ejb-ref-name>ejb/Customer</ejb-ref-name> -->
<!--     <ejb-ref-type>Entity</ejb-ref-type> -->
<!--     <home>com.wickedlysmart.CustomeHome</home> -->
<!--     <remote>com.wickedly.Custome</remote> -->
<!--   </ejb-ref> -->
  
<!--   <env-entry> -->
<!--     <env-entry-name>rates/discountRate</env-entry-name> -->
<!--      <env-entry-type>java.lang.Integer</env-entry-type> -->
<!--      <env-entry-value>10</env-entry-value> -->
<!--   </env-entry> -->
  
   <mime-mapping>
     <extension>mpg</extension>
     <mime-type>video/mpeg</mime-type>
   </mime-mapping>
  
  <listener>
    <description>testando o listner</description>
    <listener-class>br.com.webdeveloper.servlets.listner.HttpSessionBindingListnerTeste</listener-class>
  </listener>

<!-- 	<jsp-config> -->
<!-- 		<jsp-property-group> -->
<!-- 			<url-pattern>*.jsp</url-pattern> -->
<!-- 	     Isto desabilita os elementos scripting para todos os JSPs, -->
<!-- 			 na aplicação, porque usamos o *.jsp como padrão de URL. --> 
<!-- 			<scripting-invalid>false</scripting-invalid> -->
<!-- 		</jsp-property-group> -->
<!-- 	</jsp-config> -->
<!-- <jsp-config> -->
<!-- 	<taglib> -->
<!-- 		<taglib-uri>https://dev.com/jsp/tlds/mytag</taglib-uri> -->
<!-- 		<taglib-location>/WEB-INF/func.tld</taglib-location> -->
<!-- 	</taglib> -->
<!-- 	</jsp-config> -->


<jsp-config> 
    <taglib>
      <taglib-uri>/jspfunc</taglib-uri>
      <taglib-location>
        /WEB-INF/taglib.tld 
      </taglib-location>
    </taglib>
  </jsp-config>
  
  
   <!-- <login-config>BASIC</login-config>
   
    <security-role>
       <role-name>Admin</role-name>
    </security-role>
    
        <security-role>
       <role-name>User</role-name>
    </security-role>
    
    <security-constraint>
    <display-name>Integridade de seuranca</display-name>
	      <web-resource-collection>
		      <description>Esse elemto é opicional</description>
		         <web-resource-name>UpadeRecipes</web-resource-name>
			         <url-pattern>/Beer/AddRecipe/*</url-pattern>
			         <url-pattern>/Beer/admin/*</url-pattern>
			         <http-method>GET</http-method>
			         <http-method>POST</http-method>
		            <http-method-omission></http-method-omission>
	       </web-resource-collection>
	    
	       <auth-constraint>
	              <description>testando papaeis</description>
		         <role-name>Admin</role-name>
		         <role-name>Member</role-name>
		         <role-name>Menager</role-name>
		         <role-name>User</role-name>
		         <role-name>*</role-name>
	       </auth-constraint>
	       
	       <user-data-constraint>
	        	<description></description>
	        	<transport-guarantee>CONFIDENTIAL</transport-guarantee>
	       </user-data-constraint>
	       
    </security-constraint>
    
   
    
  -->
    
  
</web-app>