<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>


	<env-entry>
	    <description>The name was explicitly set in the annotation so the classname prefix isn't required</description>
		<env-entry-name>RESOURCE1</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>AAA</env-entry-value>
	</env-entry>
  
  
  <servlet>
    <servlet-name>myServlet</servlet-name>
    <servlet-class>br.com.webdeveloper.servlets.MyServlet</servlet-class>
<!--     <jsp-file>/teste.jsp</jsp-file> -->
    
    <init-param>
      <param-name>email</param-name>
      <param-value>likewecare@servlet.com.br</param-value>
    </init-param>
  </servlet>
  
  
  <context-param>
    <param-name>email</param-name>
    <param-value>likewecare@servlet.com.br</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>pas</param-name>
    <param-value>123456789</param-value>
  </context-param>
  
  <servlet-mapping>
    <servlet-name>myServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <listener>
    <description>testando o listner</description>
    <listener-class>br.com.webdeveloper.servlets.listner.HttpSessionBindingListnerTeste</listener-class>
  </listener>

<!-- 	<jsp-config> -->
<!-- 		<jsp-property-group> -->
<!-- 			<url-pattern>*.jsp</url-pattern> -->
<!-- 	     Isto desabilita os elementos scripting para todos os JSPs, -->
<!-- 			 na aplicação, porque usamos o *.jsp como padrão de URL. --> 
<!-- 			<scripting-invalid>false</scripting-invalid> -->
<!-- 		</jsp-property-group> -->
<!-- 	</jsp-config> -->
<!-- <jsp-config> -->
<!-- 	<taglib> -->
<!-- 		<taglib-uri>https://dev.com/jsp/tlds/mytag</taglib-uri> -->
<!-- 		<taglib-location>/WEB-INF/func.tld</taglib-location> -->
<!-- 	</taglib> -->
<!-- 	</jsp-config> -->


<jsp-config> 
    <taglib>
      <taglib-uri>/jspfunc</taglib-uri>
      <taglib-location>
        /WEB-INF/taglib.tld 
      </taglib-location>
    </taglib>
  </jsp-config>
  
</web-app>